---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
const canonical = "https://lockhouse.co.uk";

import SplashImage from '../components/SplashImage.astro';
const startingImage = "url(/images/armageddonBackground.jpg)";
import mobileImage from "../assets/images/search.png";

import { Image } from 'astro:assets';
---

<BaseLayout pageTitle={pageTitle} canonical={canonical}>

    <style slot="aboveFoldStyles" define:vars={{startingImage}}>
        
        #splashImageTextContainer{

            background: RGBA(0,0,0,0.9);
            padding: 20px;
            border-radius: 10px;
            width: 40%;
            max-width: 1000px;
            color: white;
            margin-left: 60px;

        }

        #splashImageTextContainer h1{
            font-size: 67px;
            margin: 0;
        }

        #splashImageTextContainer h1 span{
            color: #FFBA06;
        }

        #splashImageTextContainer p{
            font-size: 18px;
        }

        @media only screen and (max-width: 1700px){
            #splashImageTextContainer h1{
                font-size: 40px;
            }
        }

        @media only screen and (max-width: 600px){

            #spashImageContainer{
                background: black;
                justify-content: space-between;
            }

            #splashImageTextContainer{
                padding: 20px;
                height: calc(100vh - 91px);
                width: auto;
                max-width: calc(100% - 40px);
                margin: 0;
                background: RGBA(0, 0, 0, 1);

                justify-content: space-between;
                align-items: center;
                display: flex;
                flex-direction: column;
            }

            #splashImageMobileContainer{
                height: calc(100vh - 350px);
                width: auto;
                background: var(--startingImage);
            }

            #splashImageTextContainer h1{
                font-size: 30px;
            }

            #splashImageTextContainer p{
                font-size: 16px;
            }

            #splashImageTextContainer img.mobileOnly{
                width: calc(100vh * 0.5 - 130px);
                max-width: 300px;
                height: auto;
            }
        }



    </style>

    <SplashImage startingImage = {startingImage}>

        <div id="splashImageTextContainer">
            <h1>Experience the most thrilling hour <span>in Cambridge.</span></h1>
            <Image class="mobileOnly" src={mobileImage} alt="Search, Think, Solve, Escape!"/>
            <p>Our escape rooms are super immersive live action adventure games. You'll come as a group but leave as a team as you race to solve puzzles, overcome challenges and escape before your time runs out.</p>
        </div>

    </SplashImage>

</BaseLayout>



